<h2>Registro de Author</h2>
<input type="text" placeholder="Nombre" [(ngModel)]="autor.nombre" />
<br /><br />
<input type="text" placeholder="Apellido" [(ngModel)]="autor.apellido" />
<br /><br />
<input type="number" placeholder="Cedula" [(ngModel)]="autor.cedula" />
<br /><br />
<input
  type="date"
  placeholder="Fecha de Nacimiento"
  [(ngModel)]="autor.fechaNacimiento"
/>
<br /><br />
<select [(ngModel)]="autor.generoLiterario">
  <option *ngFor="let n of generos">{{ n }}</option>
</select>
<br /><br />
<button (click)="onSubmit()">Registrar author</button>
